/* CUSTOM CSS STYLE RULES */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	font-style: bold;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #000;
}

#title {
	text-align: center;
    display: block;
    width: 100%;
    padding: 10px 0px;
    background-color: #eee;
    border-bottom: 1px solid #000;
}

#authors {
	text-align: center;
	list-style: none;
	padding: 0;
}

#table-of-contents {
	list-style: none;
	width: 300px;
	padding: 0;
	display: block;
	margin: 0 auto;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

#table-of-contents li {
	width: 300px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	height: 40px;

	transition: font-size .3s, background-color .3s;
	-webkit-transition: font-size .3s, background-color .3s;
}

#table-of-contents li.list-last {
	border-bottom: none;
}

#table-of-contents li:hover {
	font-size: 1.2em;
	background-color: #eee;
}

#table-of-contents li a {
	display: block;
	line-height: 40px;
/*	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0)

	transition: text-shadow .3s;
	-webkit-transition: text-shadow .3s;*/
}

/*#table-of-contents li a:hover {
	text-shadow: 0px 2px 5px rgba(0, 0, 0, .5)
}*/

.report-section {
	padding: 16px;
    border: 1px solid #ccc;
    width: 675px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.section-header {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

.top-link {
	position: absolute;
    top: 0;
    right: -71px;
    width: 60px;
    background-color: #ccc;
    padding: 5px;
    text-align: center;
    border-left: none;
    margin-top: -1px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);

    transition: background-color .3s;
    -webkit-transition: background-color .3s;
}

.top-link:hover {
	background-color: #aaa;
}

