/* CUSTOM CSS STYLE RULES */

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	font-style: bold;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #000;
}

#title {
	text-align: center;
    display: block;
    width: 100%;
    padding: 10px 0px;
    background-color: #eee;
    border-bottom: 1px solid #000;
}

#authors {
	text-align: center;
	list-style: none;
	padding: 0;
}

#table-of-contents {
	list-style: none;
	width: 300px;
	padding: 0;
	display: block;
	margin: 0 auto;
	border: 1px solid #333;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 3px #333;
}

#table-of-contents li {
	width: 300px;
	text-align: center;
	background-color: #ddd;
	border-bottom: 1px solid #555;

	transition: background-color .3s;
	-webkit-transition: background-color .3s;
}

#table-of-contents li:hover {
	background-color: #999;
}

#table-of-contents li a {
	display: block;
	padding: 10px;

	transition: color .3s;
	-webkit-transition: color .3s;
}

#table-of-contents li a:hover {
	color: #eee;
}

.report-section {
	padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.section-header {
	display: block;
	margin: 0 auto;
	text-align: center;
}